/* CSS reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

/* header */
header {
	background-color: #404040;
  width: 100%;
  height: 3em;
}

header li:hover {
	background-color: #202020;
}

header ul {
	font-family: calibri;
	font-weight: 600;
	font-size: 1em;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header li {
	float: left;
}

header a {
	display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
}

header p {
	color: white;
	margin-right: 10px;
	padding: 1em;
	float: right;
	font-weight: 600;
	font-size: 1em;
	font-family: calibri;
}
/* end header */

/*center jumbtron*/
section {
	height: 40em;
	background-image: url("https://static.pexels.com/photos/68724/pexels-photo-68724.jpeg");
	background-size: cover;
	width: 100%;
	text-align: center;
	overflow: auto;
}

section p {
	margin-top: 1.75em;
	margin-bottom: 40px;
	font-size: 110px;
  color: white;
  font-family: calibri;
  font-weight: 100;
  text-transform: uppercase;
  opacity: .5;
}

.btn-main {
  font-weight: 100;
  font-family: calibri;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  background-color: #404040;
  border-radius: 10px;
  padding: 15px 35px;
}

.btn-main:hover {
  background-color: #363535;
  font-size: 18px;
}
/*end of center jumbotron*/

/*project section */
.projects {
    width: 33%;
    height: 450px;
    background-color: white;
    float: left;
    text-align: center;
}

.title {
	margin-top: 30px;
  color: #404040;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: serif;
	font-weight: 800;
}

.projects p {
	margin-top: 1em;
	font-weight: 500;
	font-size: 1em;
	font-family: calibri;
	margin-bottom: 1em;
}

.projects img {
	margin-top: .75em;
	width: 25em;
}

.btn-proj {
    font-family: calibri;
    color: black;
    font-size: 14px;
    text-decoration: none;
    background-color: #FFFFFF;
    border: .5px solid black;
    padding: 10px 20px;
    margin-top: 0;
    display: inline-block;
}

.btn-proj:hover {
    background-color: black;
    color: white;
}

/*end of project section*/

footer {
  position: relative;
	background-color: #404040;
  width: 100%;
  height: 3em;
	clear: both;
}

footer p {
	color: white;
	font-weight: 400;
	font-size: 1em;
	padding: 1em;
}
